{% extends 'shop/base.html' %}

{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">Order Confirmation</h3>

    <h5>Product Details</h5>
    <p><strong>Product Name:</strong> {{ product.name }}</p>
    <p><strong>Product Description:</strong> {{ product.description }}</p>
    <p><strong>Price per Unit:</strong> ${{ product.price }}</p>

    <h5>Order Summary</h5>
    <p><strong>Quantity:</strong> {{ quantity }}</p>
    <p><strong>Total Price:</strong> ${{ total_price }}</p>

    <h5>User Information</h5>
    {% if user %}
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    {% else %}
    <p>User is not authenticated.</p>
    {% endif %}
    <form action="{% url 'place-order' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="hidden" name="quantity" value="{{ quantity }}">

        <div class="form-group">
            <label for="shipping_address">Shipping Address:</label>
            <textarea id="shipping_address" name="shipping_address" class="form-control"
                      required>{{ user_address }}</textarea>
        </div>

        <button type="submit" class="btn btn-success mt-4">Place Order</button>
    </form>
</div>
{% endblock %}

