{% extends "shop/base.html" %}
{% block title %}About Us - My Website{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <!-- Include Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/register.css' %}">
</head>
<body>

<div class=" sign-up">

    <h4 class="mb-5 ml-3">Create Account</h4>
    {{ form.errors}}
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="mb-4  small-input">
            {{ form.email.label_tag }}
            {{ form.email }}

        </div>
        <div class="mb-4  small-input">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}

        </div>
        <div class="mb-4  small-input">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}

        </div>
        <div class="mb-4 small-input">
            {{ form.name.label_tag }}
            {{ form.name }}

        </div>
        <div class="mb-4 small-input">
            {{ form.password1.label_tag }}
            {{ form.password1 }}

        </div>
        <div class="mb-4 small-input">
            {{ form.password2.label_tag }}
            {{ form.password2 }}

        </div>
        <div class="small-input">
            <button type="submit" class="btn btn-primary  ">Sign Up</button>
        </div>

    </form>


    <!--    <hr class="divider">-->
    <div class="text-center">
        <span class="divider-line"></span>
        <span class="divider-text">OR</span>
        <span class="divider-line"></span>
    </div>
    <div class="btn-block">
        <button>
            <a href="{% url 'register' %}">Sign In with Email</a>
        </button>
        <button class="btn">
            <span class="fab fa-google"></span><a> Sign up with Google</a>
        </button>

    </div>

</div>


{% endblock %}


</body>
</html>
