{% extends "shop/base.html" %}
{% block title %}About Us - My Website{% endblock %}
{% block content %}

<html lang="en">
  <head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
       <link rel="stylesheet" type="text/css" href="{% static 'shop/css/shop_home.css' %}">
  </head>
  <body>


<section class="shop-section mt-5">
<h4 class="mx-4 my-3 ">Categories</h4>
      <div class="shop-images">

{% for category in categories|slice:":4" %}
          <a href="{% url 'category_products' category.name %}" class="shop-link">
            <img src="{{ category.image.url }}" alt="card">
            <h5 class=" mt-1 mb-0">{{ category.name }}</h5>
        </a>

{% endfor %}

      </div>

    </section>

<!-- Carousels for Products -->
{% for subcategory, products in allProds %}
    {% if products %}
        <!-- Large Screen Carousel -->
        {% include 'shop/carousel.html' with carousel_id="carouselExample" size="large" size_limit=5 subcategory=subcategory products=products loop_counter=forloop.counter %}
    {% endif %}
{% endfor %}


{% endblock %}

  </body>
</html>

